/.dotnet/**
/.output/**
/.vscode/**
/GitAutomation/LICENSE
/GitAutomation/NOTICE
/GitAutomation/*.md
/packages/**
/PSModules/**
/Source/packages/**
*.pdb
*.suo
**/bin/**
**/obj/**
**/*.user
.vs
*.orig

